*, *:before, *:after {

  box-sizing: border-box;
}
html,body{
	height: 100%;
}
body{

  font-family: 'open sans', sans-serif;background: RGB(240,240,240);margin: 0;padding: 0;
}

.no-gutter{
	margin: 0;
	padding: 0;
}
/*----------------- rules for the sign up page-----------------------*/
.center-register{
	margin: auto;
}
.full-width{
	width: 100%;
}
.mdl-card__supporting-text {
	padding: 0;
	margin: auto;
}
.demo-card-wide{
	border-radius: 3%;
}
.mdl-card .mdl-card__title{
	    border-left: 8px solid black;
}
.success-message{
	background: rgb(214,233,198);
    padding: 4%;
    text-align: center;
    border-radius: 9px;
    color: rgb(60,118,61);
}
.danger-message{
	background: rgb(250,235,204);
    padding: 4%;
    text-align: center;
    border-radius: 9px;
    color: rgb(220,20,60);
}
.align-login{
    z-index: 100;
    margin-top: 29vh;
}
.wrapper .brand .brand-text{
}

.wrapper .brand .brand-img{
	max-width: 70%;
    margin-top: -53px;
}
.index-page .wrapper > .header {
    height: 100vh;
}